
body{margin:0;font-family:Poppins;background:#F5F0E8;}
.nav{background:#6F4E37;color:white;padding:15px;font-size:20px;}
.card{background:rgba(255,255,255,0.65);backdrop-filter:blur(12px);padding:30px;border-radius:15px;max-width:500px;margin:auto;box-shadow:0 6px 20px rgba(0,0,0,0.15);}
input,select{width:100%;padding:12px;margin:10px 0;border-radius:8px;border:1px solid #cdbba9;background:#fff;}
button{padding:12px 20px;background:#CBA47A;border:none;color:white;border-radius:10px;font-size:16px;cursor:pointer;width:100%;}
button:hover{background:#b48a64;}
